[Unit]
Description=OpenVPN client
After=network-online.target iptables-restore.service docker.service
Requires=network-online.target docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill openvpn-client.%i.service
ExecStartPre=-/usr/bin/docker rm openvpn-client.%i.service

ExecStart=/usr/bin/docker run --name openvpn-client.%i.service \
          --cap-add=NET_ADMIN --device /dev/net/tun --net=host \
          -v /etc/openvpn/%i.conf:/etc/opt/container/vpn.conf \
          pablocouto/docker-openvpn-client

ExecStop=/usr/bin/docker stop openvpn-client.%i.service
ExecStop=/usr/bin/docker rm openvpn-client.%i.service

[Install]
WantedBy=multi-user.target
